//カラーコード
$color_black: #132c64;
$color_main: #d68f8b;
$color_light-blue: #e6eaf7;
$color_light-blue-opacity: rgba(230, 234, 247, 0.8);
$color_purple: rgba(170, 162, 214);
$color_other-blue: rgba(172, 187, 239);

//フォント
$base_font-size: 1.8rem;
$base-tab_font-size: 1.6rem;
$base-sp_font-size: 1.4rem;
$sub_font-size: 1.6rem;

$base_letter-spacing: 0.05em;
$base_line-height: 1.5;

// ヘッダーの高さ
$header_height: 10rem;
$header-logo_height: 28rem;
