@use '../setting/variable' as var;
@use '../mixin/' as m;

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  @include m.mq(tab) {
    display: none;
  }
  @include m.mq(sp) {
    display: none;
  }
  &__item {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__item:not(:last-child) {
    padding-right: 80px;
  }
}
