@use '../mixin/' as m;

.portfolio-detail--bg {
  &__web-site::before {
    content: "";
    @include m.gradient("bg-web_before-color");
    height: 14rem;
    width: 100vw;
    display: block;
    position: absolute;
    top: -140px;
    left: 0;
  }
  &__web-site {
    position: relative;
    @include m.gradient("bg-web_color");
  }
  &__web-site::after {
    content: "";
    @include m.gradient("bg-web_after-color");
    height: 14rem;
    width: 100vw;
    display: block;
    position: absolute;
    bottom: -140px;
    left: 0;
  }
  &__design::before {
    content: "";
    @include m.gradient("bg-banner_before-color");
    height: 14rem;
    width: 100vw;
    display: block;
    position: absolute;
    top: -140px;
    left: 0;
  }
  &__design {
    position: relative;
    @include m.gradient("bg-banner_color");
  }
  &__design::after {
    content: "";
    @include m.gradient("bg-banner_after-color");
    height: 14rem;
    width: 100vw;
    display: block;
    position: absolute;
    bottom: -140px;
    left: 0;
  }
}
